# Sakila Database

## Origin

The Sakila sample database was initially developed by Mike Hillyer, a former member of the MySQL AB documentation team, and is intended to provide a standard schema that can be used for examples in books, tutorials, articles, samples, and so forth.

https://dev.mysql.com/doc/sakila/en/

## Schema

![Image](https://raw.githubusercontent.com/nicshub/sakila-sqlite3/main/sakila.png)

## SQLite

SQLite is part of the operating system, library need to be installed according to the specific os.

## Google Colab

In Google Colab, based on linux container need to be installed

In [ ]:
!apt-get -y install sqlite3

Let's check if it's installed

In [ ]:
!sqlite3 -version

## Get a database

In this notebook we are going a port of Sakila for sqlite by Bradley Grant

https://github.com/bradleygrant/sakila-sqlite3/

In [ ]:
# Delete
!rm -f datasets/sakila*
# Create Directory
!mkdir -p datasets/
# Get database
!wget https://github.com/nicshub/sakila-sqlite3/raw/main/sakila_master.db -O datasets/sakila.db

Let's see if it's created, we are going to use command line using two linux command
1. file to see the file headers
2. sqlite command line using pipe to avoid the "prompt"

In [ ]:
!file datasets/sakila.db

In [ ]:
!echo ".tables" | sqlite3 datasets/sakila.db

Please note the sakila.db it's created automatically by the command and it's the **database**

To check the entire schema (physical model), you can use the .schema command

# Query the database in a notebook

- iPython (and so Jupyter with Python kernek) offer a nice way to run python command without use the standard syntax [ref](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

There are two kinds of magics

- line-oriented %
- cell-oriented %%

In [ ]:
# List of built in magic commands
%lsmagic

It's also possible to extend with new magic function and then load the module

## SQL Magic

[ipython-sql](https://pypi.org/project/ipython-sql/) introduces the %sql magic function that can be used both for
- single line queries (line magic %sql)
- multiple lines (cell magic %%sql)

We will install using package installer for Python pip, directly in Jupyther using built-in function

In [ ]:
%pip install ipython-sql

## Loading the SQL Magic extension

In [ ]:
%load_ext sql

## Connecting to the database

In [ ]:
%sql sqlite:///datasets/sakila.db

Let's check if we are connected, just using the %sql magic commands

In [ ]:
%sql

# Let's start learning by doing

for sake of visibility we will conclude queries with LIMIT 10 to limit the result set

## Select from a single table

*Exercize*: Get the name of the film category

In [ ]:
%%sql

*Exercize* Get first name and last name of actors

In [ ]:
%%sql

### Distinct values

*Exercize* : Get the distinct rating of the films

In [ ]:
%%sql

### All attributes (*)

*Exercize* Get all the attributes in the relation language

In [ ]:
%%sql

### Column aliases
- In SQL it's possibile to define aliases for any attribute name
- In Relational Algegra it's the ρ operation
- The syntax it's simple just add "as xyz" after the attribute name, where xyz is the new name
- Better no use spaces but only character, number, underscore. In case use quotes

*Exercize* In the same relation, rename the "name" attribute into languagename

In [ ]:
%%sql

### SQL Scalar function

https://www.sqlite.org/lang_corefunc.html

- SQL enables scalar function (i.e. returning a single value) based on attributes selected in the query
- Operations need to be consistent with the data type of the attribute

## Simple expressions 

- Math function on numbers
- Concatenation of Strings

 *Exercize*: Get the total rent of a film computed as the product of rate * duration, include title and original value.

In [ ]:
%%sql

 *Exercize*: Get in a single attribute named full_name containing firstname, lastname of staff 
 
 (Use operator || to concat two field)

In [ ]:
%%sql

### Date time functions

https://www.sqlite.org/lang_datefunc.html

 *Exercize*: Get the creation date of the customer in the yyyy-mm-dd format
 
- Use strftime(format, attribute) to format the datetime field in the desidered format

In [ ]:
%%sql

 *Exercize*: Compute the difference between your birthdate and today
 
- timediff function looks great but it's supported in SQLite >= 3.43
- To compute difference in years we can take the date function and the date in 'yyyy-mm-dd' format
- In SQLite no need to use FROM, it's reading from a dummy table

In [ ]:
%%sql

### CASE
https://www.sqlite.org/lang_expr.html#case

CASE in SQL implements the statement IF-THEN-ELSE

#### Case  base expression

A expression is evaluated, if the when condition matches the result the correspondent then is the result.

```sql
CASE expr
WHEN condition THEN value
WHEN condition THEN value
ELSE value
END
```

 *Exercize*: Categorize the film based on the duration, if it's less than 75 min it's a short, otherwise is a full-lenght

In [ ]:
%%sql

#### Case without a base expression

In this "case" all conditions are valuated until the first matches

```sql
CASE 
WHEN condition THEN value
WHEN condition THEN value
ELSE value
END
```

 *Exercize*: Categorize the amount  of payment based on ranges:
 - [0,1]: 'cheap'
 - [1,5]: 'medium'
 - [5,-]: 'expensive'

In [ ]:
%%sql

### CAST
https://www.sqlite.org/lang_expr.html#cast

- In computer science, casting it's a procedure to change the data type
- In SQL it's used to change the domain of an attribute in the result relation
- Casting it's useful in two cases
-- When the source data type is too generic, for example a string containing a number (this can be a design issue)
-- When we need to work with different attributes, for example to count the number of digit in a number

The syntax is CAST(expr as type-name)

 *Exercize*: Convert the release_year in the movie relation into number

In [ ]:
%%sql

 *Exercize*: Compute the number of characters of the rental_duration in the film   
 
 Use the scalar function length(X) to count the number of characters in a column

In [ ]:
%%sql

### Aggregate functions (part 1)
https://www.sqlite.org/lang_aggfunc.html

- At this stage, without WHERE and GROUP BY aggregate functions apply on the entire table
- Functions apply to attributes as parameter, also the "\*" is used in a special case

#### COUNT 
- count(\*): counts the number of tuples in the group
- count(X): count the number of times the X is not NULL in the group
- count(distinct(X)): as above, but removing duplicates

 *Exercize*: Count the number of rentals in the Rental table

In [ ]:
%%sql

 *Exercize*: Count the number of return_date in the rental table

In [ ]:
%%sql

 *Exercize*: Count the number of distinct return_date in the rental table

In [ ]:
%%sql

#### MIN-MAX-AVG-SUM 
- min(X): minimum non-NULL value of all values in the group
- max(X): maximum non-NULL value of all values in the group
- avg(X): avg non-NULL value of all values in the group
- sum(X): sum of non-NULL value of all values in the group

Yes, they should be used for numbers

 *Exercize*: Get the min,max,avg,sum of the amount in the payment table

In [ ]:
%%sql

## Select from multiple tables

### Product Cartesian (CROSS JOIN)

- In Relational Algebra it's a binary operator X(A,B) or A X B

Creates a new table where
- the number of attributes it's the sum of the arity of the source relations
- the number of tuples it's the product of the cardinality of the source relations

In SQL it's possible to do in two equivalent ways:
- FROM A,B
- FROM A CROSS JOIN B

 *Exercize*: Get the potential number of rental by combining the film and the customer tables

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

### JOINS
Join clauses are made by three parts
- join operator: indicates which kind of join we are to use (natural, inner, outer, cross)
- table (or sub query): the relation to be joined
- join constraint: expression to define the condition of the join using "on" ("using" it's also an option but not always supported)

The generic syntax is 
```sql 
FROM A kindofjoin JOIN B on A.col=B.col
```

#### Natural JOIN
- Natural joins don't need "on"

 *Exercize*: Get the list of cities and correspondent country

In [ ]:
%%sql

In [ ]:
%%sql

#### Inner JOIN
- it's default join, che INNER can be omitted

 *Exercize*: Get the list of cities and correspondent country

In [ ]:
%%sql

#### Left/Right Outer JOIN
- Join that include the left, right and both rows that don't match

 *Exercize*: Get the distinct language name and release year 
 
 Hint: start from language l and use left join

In [ ]:
%%sql

### WHERE
- WHERE expressions are evalauted for each row in the input data (FROM) 
- if the row satisfies the where condition is added into the result set
- in a inner-cross join constraints can be expressed both in "on" and in "where" (ihmo in join it's more readable)
- in left-right join the "on" adds rows in the result while in the where they can be filtered 
The generic syntax is 
```sql 
WHERE 
(x = y or z < w) and ...
```

 *Exercize*: Select the title, description, rating, movie length columns from the films table that last 3 hours or longer.

In [ ]:
%%sql

 ### LIKE
 https://www.sqlite.org/lang_expr.html#the_like_glob_regexp_match_and_extract_operators
 
```sql 
WHERE 
x LIKE pattern
```
 - it's pattern matching comparison between a value and a pattern
 - pattern can contain string and % to indicate anysequence or _ to indicate a single char

 *Exercize*: Select the actors with first name starting with A

In [ ]:
%%sql

 *Exercize*: Select the actors with last name of 3 characters

In [ ]:
%%sql

 ### BETWEEN
The BETWEEN operator is logically equivalent to a pair of comparisons. "x BETWEEN y AND z" is equivalent to "x>=y AND x<=z" except that with BETWEEN, the x expression is only evaluated once.

 *Exercize*: Select the rental returned in September 2005

In [ ]:
%%sql

 ### IN (NOT) IN
 
 - The IN and NOT IN operators take an expression on the left and a list of values or a subquery on the right
 - The right operand can be a sub query, i.e. a query returning the same columns as the left operand
 
 ```sql 
WHERE 
x in (a,b,c)
...
x in (select x from table)
```

 *Exercize*: Select the movies with category Action and Animation
 
 Hint: Use join to navigate the many to many relationship between FILM and CATEGORY

In [ ]:
%%sql

 *Exercize*: Get the customer with same name of an actor

In [ ]:
%%sql

 *Exercize*: Get the customer with same name and first name of an actor

In [ ]:
%%sql

### GROUP BY
- Partition result set into groups, based on values on attributes
- Typically grouping is coupled with aggregate functions 
- and attributes in group by are present in the select 

The generic syntax is 
```sql 
select x,y, f()
GROUP BY x,y
```

 *Exercize*: Sum the amount of payments for rental made by customers

In [ ]:
%%sql

 *Exercize*:

### HAVING
- Having filters the rows result sets based on aggregate groups
- It's similar to WHERE but it's executed in another stage of process, after groups are created
```sql 
GROUP BY 
x, y 
HAVING f(x)>z
```

 *Exercize*: Sum the amount of payments for rental made by customers that have done at lease 30 rentals

In [ ]:
%%sql

### ORDER BY
- Sort result set according to criteria 
- Multiple criteria can be combined using ,
- Include calculated attributes like aggregrations

The generic syntax is 
```sql 
ORDER BY
x (asc/desc)
```

 *Exercize*: Get the longest movies

In [ ]:
%%sql

### UNION
The generic syntax is 
```sql 
select a from x
union 
select b from y
```

 *Exercize*: Get all the first_name, last_name of actors and customers

In [ ]:
%%sql

### EXCEPT
The generic syntax is 
```sql 
select a from x
EXCEPT
select b from y
```

 *Exercize*: Get all the first_name, last_name of actors not equal to customers

In [ ]:
%%sql

### INTERSECT
The generic syntax is 
```sql 
select a from x
INTERSECT
select b from y
```

 *Exercize*: Get the longest movies

In [ ]:
%%sql