# Create and manage objects in database

![](images/sqladam.jpg)

# Data Definition Language

- Data Definition Language in SQL is a way to implement the physical data model of DBMS Data Modeling

- The "schema" contains the tables names, field name, keys and all database objects;

- Schema it's stored in the database itself, typically using a relational model

- Some DBMS allow different schemas to partition data in different silos, others, like SQLite, the database and schema are 1:1 connected (even if it's possibile to query from different db)

# Table

## CREATE TABLE

- Creates a new table (relation) in a database, a unique of the table needs to be specified.

- A new table can be defined in two ways

    1. Defining the columns (attributes) and relative constraints;

    2. Running a sub query (result set are tables)

### Generic CREATE TABLE in SQLite 
![](images/create-table.png)

### Create TABLE (column definition)

### Table Name

It's the name of the relation, i.e. the entity in the conceptual data model or a association table to define a relationship

**SQLite** : in sqlite names starting with sqlite_ are reserved)

```sql
CREATE TABLE students
```

### Table Schema

> Named group of related objects contained within a database or instance of a database server. A schema is a collection of tables, views, and permissions granted to specific users or roles.
SQL in a nutshell, 4th Edition

**SQLite** : Not required, if schema present should be:
- main (the actual db)
- temp (for temporany tables) 
- an attached database, see [documentation](https://www.sqlite.org/lang_attach.html))

```sql
-- Create Table students in schema mastersds
CREATE TABLE mastersds.students
```

### Column definition

List of attributes separated by comma with data type and constraints in the standard form
```sql 
column_name datatype attributes
```

**SQLite** :
- column_name is the mame of the attribute. It's the only parameter required (due to [flexible typing](https://www.sqlite.org/flextypegood.html)
- datatype can be (integer, real, text, blob),  standard datatype (int, varchar) are automatically mapped 
- attributes are [constraints](https://www.sqlite.org/syntax/column-constraint.html) like primary/foreign key, nullable, ... (we will see in practice)
- primary keys create a rowid, no need to use [autoincrement](https://www.sqlite.org/autoinc.html)

```sql
CREATE TABLE IF NOT EXISTS students(
id   INTEGER PRIMARY KEY NOT NULL,
name TEXT    NOT NULL,
age  INTEGER 
);
```

### Table constraints

Constraints can also be added after column definition and can refer to multiple columns
> Table constraints can express almost any restrictions that a column constraint can, but can additionally express restrictions that involve more than one column.
[Ref](https://www.prisma.io/dataguide/mysql/column-and-table-constraints)

**SQLite** : See [table constraints](https://www.sqlite.org/syntax/table-constraint.html)

```sql
CREATE TABLE IF NOT EXISTS students(
    id     INTEGER NOT NULL,
    name   TEXT    NOT NULL,
    age    INTEGER,
    PRIMARY KEY(id)
)
```

### Create TABLE as

- "CREATE TABLE ... AS SELECT" creates and populates a database table based on the results of a SELECT statement

- Table has the same number of columns as the SELECT statement

- The name of each column is the same as the name of the corresponding column in the result set

- Type of the column is automatically matched

## DROP TABLE

- DROP is the inverse operation of CREATE, destroy a table referenced by its name and schema
- It's an effective operation, depending on the DB vendor can be a non recoverable action (remember, backup it's your friend)

### Generic DROP TABLE in SQLite
![](images/drop-table.png)

## Practice

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/nicshub/sdsdbms/blob/master/Practice_SQLite_From_Scratch.ipynb)

[![Open In Jupyter](images/jupyter-badge.png)](Practice_SQLite_From_Scratch.ipynb)

## ALTER TABLE

ALTER TABLE performs operations on tables, including:

| Operation           | Syntax                    |
|---------------------|--------                   |
| Rename a table      |```RENAME TO```            |
| Rename a column     |```RENAME COLUMN TO```     |
| Add a column        |```ADD COLUMN col-def```   |
| Drop a column       |```DROP COLUMN col-name``` |
| Modify a column     | Not supported in SQLite   |
| Add table constraint| Not supported in SQLite   |

### Generic ALTER TABLE SQLite
![](images/alter-table.png)

## Other DDL statements

- VIEWS (CREATE/DROP): Views are table generated "on the fly" by queries

- INDEX (CREATE/DROP): Indexes are data structures to improve the speed of data retrieval (increase storage and may slow DML operations)

- TRIGGER (CREATE/DROP): Triggers are code (SQL / other languages) connected to database object events (i.e. BEFORE insert, AFTER delete). Used to implement business logic and some integrity check

- STORED PROCEDURE(CREATE/DROP): Stored Procedures are subroutine available to the Database that extend functionalities, they are called using CALL procedure_name. Used to implement complex transactions

# Data Manipulation Language

- Data Manipulation Language (DML) is the sub language of SQL that creates/updates/deletes rows in the database tables

- Operations can involve a single row, a subset or the entire table

- Constraints checks are applied and may raise error in case of violation

## INSERT

- INSERT add one or more rows in a table, both specifying selected columns or adding all in order
- Two main forms:
    1. adding values: ```INSERT into table VALUES...```
    2. selecting from a query ```INSERT into table select...```

### INSERT into table VALUES

#### Syntax
```sql
INSERT into table(col1, col2, ..., coln) VALUES (a1, ...,an),(b1, ..., bn)
```

the list of columns can be omitted, in that case all the column need to be specified

Back to practice

### INSERT into table SELECT

#### Syntax
```sql
INSERT into table(col1, col2, ..., coln) SELECT col1, col2, ..., coln FROM ...
```

the list of columns can be omitted, in that case the select should return the same columns

## DELETE

- DELETE deletes one or more rows in a table;

- If WHERE condition is not specified, the whole table is deleted (in SQLite is truncate);

- If WHERE condition is specified, only rows that verify the expression are deleted;

- Take care, without a transaction, recovering it may possible but not easy

#### Syntax
```sql
DELETE FROM table WHERE expr
```

## UPDATE

- UPDATE updates one or more rows in a table;

- If WHERE condition is not specified, the whole table is deleted (in SQLite is truncate);

- If WHERE condition is specified, only rows that verify the expression are deleted;

#### Syntax
```sql
UPDATE table SET col1=expr1,...,coln=exprn  WHERE expr
```