# SQL

## Origin

![](images/sequelpaper.png)

1974, IBM Research Laboratory

- Based on Codd's Relation Model
- SEQUEL is an evolution of SQUARE (Specifying Query as Relation Expression) by same authors, using English form
- Designed to be used in System R

### From SEQUEL to SQL

- SEQUEL was already a [trademark](https://www.trademarkia.com/sequel-73346503) 
so the name was changed to SQL (removing the vowels). 

- It's accepted that SQL it's an acronym of
Structured Query Language

- It's pronounced both as ˌɛsˌkjuːˈɛl or siːkwəl

![](https://miro.medium.com/v2/resize:fit:1400/format:webp/1*bozntk3hHXBt1bfNWf3jKA.png)

https://medium.com/tableplus/how-to-pronounce-sql-properly-s-q-l-or-sequel-7203a5185676

## SQL is a standard

- Since 1986, ANSI and ISO, define the "Database Language SQL" standard
- Continuously updated: 1989, 1992, 1996, 1999, 2003, 2006, 2008, 2011, 2016, 2023
- Including new datatypes (JSON, Graph Query)
- Adding reserved [keywords](https://en.wikipedia.org/wiki/List_of_SQL_reserved_words)

> Its application in handling structured data has fostered in the Digital Age. In fact, the powerful database manipulation and definition capabilities of SQL and its intuitive tabular view have become available in some form on virtually every important computer platform in the world.

Read more at the ANSI Blog: The SQL Standard – ISO/IEC 9075:2023 (ANSI X3.135) https://blog.ansi.org/?p=158690

## SQL is Relational

- The result of a Query (result set) is a table

- This means that we can create "sub-tables"and use to create complex queries (subqueries)

- We can also define a view, that's a table created as query

## SQL is a language

- It's a **declarative** language: (like XML, Prolog, ...) Focus in on **what** the program has to do, not **how** as in Procedural languages
- To extend capabilities database vendors had created extended versions (Oracle PL/SQL, Microsoft T-SQL): however this create a tight connection and a potential lock-in
- SQL is also extensibile using **stored procedures** and/or **user defined functions**
- SQL *statements* are made by **clauses** using keywords and parameters (we will see the syntax later)

### SQL is a set of multiple language

- **DDL** (Data Definition Language): Define tables and all database objects
- **DCL** (Data Control Language): Control privileges to users and db objects
- **DML** (Data Manipulation Language): Performs operations on data (insert, update, delete)
- **DQL** (Data Query Language): Gets the data (sometimes this is included into DML)

# SELECT statement

**Personal considerations by a 20 years DBA**
- Select is the most powerful (and complex) statement of SQL, it's the command to get data
- Writing Queries is like an art, it's writing a journey of the data that you can see in your mind
- Optimizing queries it's a pleasure
- KISS, to complex queries correspond complex applications

### The SELECT clauses 
Using SQLLite [reference](https://www.sqlite.org/lang_select.html)

**SELECT**
- SELECT defines the list of attributes in the result table
- ALL is default, DISTINCT remove duplicates 
- result-column: list of attributes. * means all

![](images/select-clause.png)

**FROM**
- Table name (and alias)
- Multiple Tables t1,t2 (cartesian)
- Join (another clause)

![](images/from-clause.png)

## Hands On

https://colab.research.google.com/github/nicshub/sdsdbms/blob/master/Sakila-HandsOn.ipynb

#### Join

- In Relational Algebra: JOIN combines attributes of two relations into one

- Tables are joinable if (and only if) the relations have attributes with same name (or alias) and same type, i.e. they are the same attribute

- It's possibile to combine multiple joins, the query engine will optimize.

- However the logical order of the join it's important, remember think to the final result

#### Types of Join

- NATURAL JOIN: A join based on same attribute name
- INNER JOIN: Result records contains only rows that are present in both tables
- OUTER JOIN: Result records contains only rows that are not present in both tables
- LEFT/RIGHT: limit the outer join to keep
- CROSS JOIN: product cartesian (,)

![](images/join-clause.png)

**WHERE**
- Filter result set according to a boolean expression

![](images/where-clause.png)

**GROUP BY**
- Aggregate result set according to a specific

![](images/groupby-clause.png)

**HAVING**
- Aggregate result set according to a specific

![](images/having-clause.png)

**ORDER BY**
- Aggregate result set according to a specific

![](images/orderby-clause.png)

# Compound Select Statements

## UNION

- In Relational Algebra: Union is the Set Union of the Set Theory
- The columns of the two Result Set need to be the same
- UNION ALL doesn't remove duplicates

![](https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Venn0111.svg/400px-Venn0111.svg.png)

## EXCEPT

- In Relational Algebra: Except is the Set Difference
- The columns of the two Result Set need to be the same

![](https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Relative_compliment.svg/460px-Relative_compliment.svg.png)

## INTERSECT

- In Relational Algebra: is non primitive, but obtained using union and difference
- The columns of the two Result Set need to be the same

![](https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Venn0001.svg/440px-Venn0001.svg.png)